[Unit]
Description=Prometheus Node Exporter
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/node_exporter
ExecReload=/usr/local/bin/node_exporter
ExecStop=/usr/local/bin/node_exporter
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target